.logo {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-area {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 8px 0;
}

.btn {
  margin: 24px 0 45px 0;
}

.input-area > a,
a:hover,
a:visited,
a:active {
  margin: 22px 0;
  text-decoration: none;
  color: var(--ft-color-dark-secondary);
  font-size: 12px;
}

.line {
  border: 2px solid var(--bg-color-secondary);
  width: 65px;
}
