.input {
  text-align: center;
  font-size: 12px;
  height: 56px;
  min-width: 261px;
  border-radius: 20px;
  border: 1px solid var(--bg-color-secondary);
}

.input::placeholder {
  color: var(--ft-color-dark-secondary);
}
